:root {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0 160px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
  display: grid;
  grid-template-columns: 40% 60%;
}

* {
  /* border: 1px solid black; */
}

.left,
.right {
  display: grid;
  grid-row: span 3;
  grid-template-rows: 1fr 1fr 1fr;
}

.left {
  background-image: url(images/waterfall.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.logo-section {
  display: flex;
  justify-content: center;
  background-color: rgba(6, 5, 32, 0.4);
  padding: 0 30px;
  height: 40%;
}

.logo {
  /* border: 3px solid orange; */
}

.logo img {
  /* border: 2px solid orange; */
  width: 100%;
  height: 100%;
  filter: invert(1);
}

.upper-left-corner {
  grid-row: span 1;
  display:  flex;
  flex-direction: column;
  justify-content: flex-end;
}

.logo-txt {
  padding-top: 20px;
  display: flex;
  align-items: center;
  font-family: 'OdinFont';
  color: white;
  font-size: clamp(24px, 8vh, 80px);
}


header,
footer,
main {
  background-color: #FFFFFF;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

header p {
  padding: 40px;
  margin-bottom: 20px;
  font-size: clamp(16px, 2.1vh, 32px);
  max-width: 75%;
  color: rgb(28, 7, 7);
  line-height: 1.3;
}

form h2 {
  width: 100%;
  font-weight: 500;
  padding-left: 40px;
  margin: 20px 0 0 0
}

input,
label {
  appearance: none;
}

form {
  display: flex;
  flex-wrap: wrap;
}

.form-row {
  padding: 0 40px;
  display: flex;
  flex-direction: column;
}

input {
  height: 3vh;
  width: 250px;
  border: 1px solid gainsboro;
  border-radius: 5px;
}

@font-face {
  font-family: 'OdinFont';
  src: url(fonts/Nature.ttf);
  font-weight: 2rem;
}
