:root {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0 160px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 1fr 2fr 1fr;
}

* {
  border: 1px solid black;
}

.left {
  grid-row: span 3;
  background-image: url(images/waterfall.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


.logo-section {
  display: flex;
  justify-content: center;
  position: relative;
  background-color: rgba(6, 5, 32, 0.4);
  margin-top: 20vh;
  height: 15vh;
  display: flex;
}

.logo {
  float: right;
  width: 15vh;
  background-image: url(images/logo.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  filter: invert(1);
}

.logo-txt {
  padding-top: 20px;
  display: flex;
  align-items: center;
  font-family: 'OdinFont';
  color: white;
  font-size: clamp(24px, 8vh, 80px);
}

.right {
  height: 100vh;
  display: grid;
}


header,
footer,
main {
  background-color: #FFFFFF;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

h2 {
  padding: 40px;
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: clamp(16px, 2vh, 24px);
  width: 75%;
  color: rgb(28, 7, 7);
  line-height: 1.3;
}

@font-face {
  font-family: 'OdinFont';
  src: url(fonts/Nature.ttf);
  font-weight: 2rem;
}
